:root {
  --white: #FFF;
  --primary: #6641df;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-image: url('/bg-weather.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}